body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  display: block;
  margin: auto;
}

.input__block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-area {
  text-align: center;
  width: 100%;
}

.space {
  margin-left: 10px;
}

.btn {
  height: 30px;
  width: 90px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid;
  opacity: unset;
  outline: none;
}

.check__btn {
  background: lawngreen;
}

.restart__btn {
  background: orange;
}

.logo, .input__block {
  margin-bottom: 10px;
}
